body {
    font-family: "Arial", sans-serif;
    background: rgb(249,204,224);
    background: radial-gradient(circle, rgba(249,204,224,1) 0%, rgba(148,187,233,1) 100%);
}
section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
line-height: 100px;
    font-size: 60px;
}
a{
    display: flex;
    justify-content: right;
    margin-right: 10%;
}
h1{
    display: flex;
    justify-content: center;
}